<html>
<head>
	<link rel="stylesheet" href="main.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link href="main.css" rel="stylesheet">

	<meta charset="UTF-8">
	<title>ScratchQs</title>
</head>
<body>
	<nav class="navbar navbar-inverse header-nav">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">Scratch Q's</a>
	      <div class="collapse navbar-collapse" id="navbar">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">Log In</a></li>
	        <li><a href="#">Sign Up</a></li>
	       </ul>
	      </div>
	    </div>
  	</nav>


  	<div class = "container">
		<div class="sideBar col-sm-3">
			<div class = "myGroups">
	    		<h2 class = "sideBarTitle"> my Groups</h2>
				<ul class = "groupList">
					<li>Mac Community</li>
					<li>Shopping at Mac</li>
					<li>COMP 346</li>
				</ul>
			</div>
			<div class = "searchGroups">
				<input type="text" name="search" placeholder="Search for new groups" id="searchGroupField">
				<button class="glyphicon glyphicon-plus-sign" id="searchGroup"></button>
			</div>
			<div class = "trendingGroups">
				<h2 class = "sideBarTitle"> Trending Groups</h2>
				<ul class = "groupList">
					<li>Dupre Hall</li>
					<li>Mac Hack</li>
					<li>Students for Justice</li>
				</ul>
			</div>
		</div>

		<div class="content col-sm-offset-3">
			<div class="searchDiv"> <!-- This will be nice: http://www.w3schools.com/howto/howto_css_animated_search.asp -->
				<select id="categorySelect">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
				</select>
				<input type="text" name="search" placeholder="Search..." id="searchField">
				<button class="btn btn-primary" id="askQuestion">Ask a Q -></button>
			</div>




			<div class="questions">

				<div class="question">
					<div class="questionInfo">
						<h3 class="questionTitle">Titles will go here?</h3>
						<p class="questionContent">Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here.Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here.Text will go here. Text will go here. Text will go here. Text will go here.</p>
					</div>
					<div class="options">
						<button class="btn btn-primary upvote">^</button>
						<button class="btn btn-primary downvote">V</button>
						<button class="btn btn-primary comment">Comment</button>
					</div>
				</div>

				<div class="question">
					<div class="questionInfo">
						<h3 class="questionTitle">Titles will go here?</h3>
						<p class="questionContent">Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here.Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here.Text will go here. Text will go here. Text will go here. Text will go here.</p>
					</div>
					<div class="options">
						<button class="btn btn-primary upvote">^</button>
						<button class="btn btn-primary downvote">V</button>
						<button class="btn btn-primary comment">Comment</button>
					</div>
				</div>

				<div class="question">
					<div class="questionInfo">
						<h3 class="questionTitle">Titles will go here?</h3>
						<p class="questionContent">Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here.Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here.Text will go here. Text will go here. Text will go here. Text will go here.</p>
					</div>
					<div class="options">
						<button class="btn btn-primary upvote">^</button>
						<button class="btn btn-primary downvote">V</button>
						<button class="btn btn-primary comment">Comment</button>
					</div>
				</div>

				<div class="question">
					<div class="questionInfo">
						<h3 class="questionTitle">Titles will go here?</h3>
						<p class="questionContent">Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here.Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here.Text will go here. Text will go here. Text will go here. Text will go here.</p>
					</div>
					<div class="options">
						<button class="btn btn-primary upvote">^</button>
						<button class="btn btn-primary downvote">V</button>
						<button class="btn btn-primary comment">Comment</button>
					</div>
				</div>

			</div>




		</div>
	</div>
</body>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>