<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link href="main.css" rel="stylesheet">

	<meta charset="UTF-8">
	<title>ScratchQs</title>
</head>
<body>
	<nav></nav>
	<div class="sideBar col-sm-4">
		<div class = "myGroups">
			<h2> my Groups</h2>
			<ul class = "groupList">
				<li>Mac Community</li>
				<li>Shopping at Mac</li>
				<li>COMP 346</li>
			</ul>
		</div>
	</div>


	<div class="content">
		<div class="searchDiv">
			<div id="categorySelect"></div>
			<div id="searchField"></div>
			<button id="askQuestion">Ask a Q -></button>
		</div>
		<div class="questions">
			<div class="question">
				<h3 class="questionTitle">Titles will go here?</h3>
				<p class="questionContent">Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here. Text will go here.</p>
				<div class="options">
					<button class="upvote"></button>
					<button class="downvote"></button>
					<button class="comment"></button>
				</div>
			</div>
		</div>
	</div>
</body>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>