/*
# 99B898 Light green
# FECEA8 Tan
# FF847C Pinkish
# E84A5F Redish
# 2A363B Dark Green
*/

ul {
  list-style-type: none;
}

.shadowedBox{
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.navbar-brand{
	font-size: 48;
	font-family: Georgia;
}

.sideBarTitle{
	background: #73EEFF;
	margin: 0px;
	padding: 5px;
}

.groupList{
	background: #FFF6E3;
	margin-bottom: 0px;
	border-radius: 0 0 3px 3px;
}

.displayGroups{
	border: 1px solid black;
	/*border-radius: 0 0 5px 5px;*/
}

.searchGroups{
	border: 1px solid black;
	border-top: none;
	border-radius: 0 0 3px 3px;*/
}

.myGroups{
	border-radius: 0 0 3px 3px;
	/*border: 1px solid black;*/
	margin-bottom: 10px;
}

.trendingGroups{
	border-radius: 0 0 3px 3px;
	border: 1px solid black;
	margin-bottom: 10px*/
}

.content{

}

.searchDiv{
	border: 1px solid black;
	background: #73EEFF;
	padding: 5px;
	border-radius: 0 0 3px 3px;
}

#searchField{

}

.searchField{
	height: 32px;
	width: 400px;
	font-size: 20px;
	display: inline-block;
	margin: 0;
}

#askQuestion{
	display: inline-block;
}

#categorySelect{
	width: 100px;
	height: 32px;
	font-size: 20px;
	margin: 0;
}

.question{
	margin: 20px;
	border: 1px solid black;
	padding: 10px;
	padding-right: 0;
	background-color: #FFF6E3;
	border-radius: 3px 3px 3px 3px;
}

.question h3{
	margin-top: 0px;
	background-color: #73EEFF;
	padding: 5px;
	padding-bottom: 0px;
	border-radius: 3px;
}

.questionContent{
	display: block;
	margin-bottom: 0px;
}

.questionInfo{
	width: 83%;
	margin: 0;
	display: inline-block;
}

.options{
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.options > *{
	display: block;
	margin-left: 10px;
	width: 90px;
	margin-top: 5px;
}

.questionForm{
	border: 1px solid black;
	display: inline-block;
	margin-bottom: 0;
	padding-right: 10px;
}

.navbar-default {
    background-color: red;
    border-color: #E7E7E7;
}