/*
# 99B898 Light green
# FECEA8 Tan
# FF847C Pinkish
# E84A5F Redish
# 2A363B Dark Green
*/

.navbar-brand{
	font-size: 48;
	font-family: Georgia;
}

.sideBarTitle{
	background: #99B898;
	margin: 0px;
}

.groupList{
	background: #FECEA8;
}

.searchGroups{
	margin-bottom: 10%;
}


.content{
	border: 1px solid black;
}
.searchDiv{
	border: 1px solid black;
	background: #99B898;
}
#searchField{
	height: 32px;
	width: 400px;
	font-size: 20px;
	display: inline-block;
	margin: 0;
}
#askQuestion{
	display: inline-block;
}
#categorySelect{
	width: 100px;
	height: 32px;
	font-size: 20px;
	margin: 0;
}

.question{
	margin: 20px;
	border: 1px solid black;
	padding: 10px;
}

.question h3{
	margin-top: 5px
}

.questionContent{
	display: inline-block;
}

.options{
	display: inline-block;
}

.options > *{
	display: block;
}