<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'scratchQs/ajax/AnswerPageajax.html' %}
{% include 'scratchQs/js/AnswerPageScript.html' %}

<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'scratchQs/main.css' %}" />

<!--     <link rel = "stylesheet" type="text/css" href="main.css" /> -->

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>


    <meta charset="UTF-8">
    <title>Individual Question</title>
</head>
<body>
    <nav class="navbar navbar-default header-nav">
	    <div class="container">
	      	<a class="navbar-brand" href="{% url 'index'%}">scratchQs</a>
	      	<div class="collapse navbar-collapse" id="navbar">
		      	<ul class="nav navbar-nav navbar-right">
		        	<li><a href="#" data-toggle="modal" data-target="#login-modal">Log In</a></li>
		        	<li><a href="{% url 'register'%}">Sign Up</a></li>
		      	</ul>
	      	</div>
	    </div>
  	</nav>

    <div class = "login">
		<div name = "login" class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
		    <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
					<form>
					<input type="text" name="user" placeholder="Username">
					<input type="password" name="pass" placeholder="Password">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
					</form>

					<div class="login-help">
					    <a href="{% url 'register'%}">Register a new account</a>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class = "container">
		<div class="sideBar col-sm-3">
			<div class = "myGroups shadowedBox">
				<div class = "displayGroups">
		    		<h2 class = "sideBarTitle"> My Groups</h2>
					<ul class = "groupList">
					{% for community in communities %}
						<a style="cursor: pointer;"><li onClick = "filter_questions(this.id)" id = {{community.id}}>{{community.name}}</li></a>
					{% endfor %}
					<a style="cursor: pointer; font-weight: bold" href="{% url 'index'%}"><li>All communities</li></a>
					</ul>
				</div>
				<div class = "searchGroups">
					<div class="row">
					  	<div class="col-lg-12">
					    	<div class="input-group">
						      	<input type="text" class="form-control" placeholder="Search for new groups">
						      	<span class="input-group-btn">
					        		<button class="btn btn-default" type="button">Go!</button>
					      		</span>
					    	</div><!-- /input-group -->
					  	</div><!-- /.col-lg-12 -->
					</div><!-- /.row -->
				</div>
			</div>

			<div class = "trendingGroups shadowedBox">
				<h2 class = "sideBarTitle"> Trending Groups</h2>
				<ul class = "groupList">
					<li>Dupre Hall</li>
					<li>Mac Hack</li>
					<li>Students for Justice</li>

				</ul>
			</div>
		</div>

        <div class = "content col-sm-offset-3">
            <div class = "questions">
                <h3 id="questionTitle" parent="{{title}}">{{title}}</h3>
                <div class="question shadowedBox">
                    <div class="questionDisplay">
                        <h3>{{title}}</h3>
                        <p class="questionContent">{{content}}</p>
                    </div>
                    <div class="options">
                        <button class="btn btn-primary upvote">upvote</button>
                        <button class="btn btn-primary downvote">downvote</button>
                    </div>
                </div>
            </div>

                <h3 id = "answerTitle">Answers:</h3>
                <!-- <button id = {{question.id}} onClick ="filter_by_most_votes(this.id)">Most Votes</button>
                <button id = {{question.id}} onClick ="filter_by_most_recent(this.id)">Most Recent</button> -->

                {% for answer in answers %}
                    <div class="question shadowedBox">
                        <div class="questionInfo">
                            <p class="questionContent">{{answer.content}}</p>
                        </div>

                        <div class="options">
                            <button id = {{answer.id}} class="btn btn-primary upvote" onClick="upvote_answer(this.id)">upvote</button>
                            <button id = {{answer.id}} class="btn btn-primary downvote" onClick="downvote_answer(this.id)">downvote</button>
                                <button class = "answerVote"># Votes: {{answer.votes}}
                        </div>

                    </div>
                     {% endfor %}
        </div>

        <div class = "content col-sm-offset-3">
            <div class="questionForm question">
                <h4>Add a new answer here:</h4>
                <div class="col-lg-8">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Description" id = "questionDescription">
                        <span>
                        <p></p>
                        <button class="btn btn-default" question="{{question.id}}" type="button" id = "askButton" onclick="submitAnswer({{question.id}})">Add a new answer!</button>
                        </span>
                    </div>
                </div>
            </div>
            <div id="homeButton" class = "col-lg-4">
                <a href = "{% url 'index'%}" class = "btn btn-default btn-lg" >
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Go back to Homepage</a>
            </div>
        </div>
    </div>

</body>
<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js "></script>

</html>

<script>
function filter_by_most_votes(question_id){
    console.log("test")
    render_filter_result(question_id, "most_votes");
}

function filter_by_most_recent(question_id){
    render_filter_result(question_id, "most_recent");
}

function render_filter_result(question_id, filter_answer_by){
  var path2 = "/scratchQs/"+ question_id +"/filter/" + filter_answer_by;
  window.location.pathname=path2;
}

</script>