<html>
{% load static %}
{% include 'scratchQs/ajax/QuestionPageajax.html' %}
{% include 'scratchQs/js/QuestionPageScript.html' %}

 <head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'scratchQs/main.css' %}" />

	<meta charset="UTF-8">
	<title>ScratchQs</title>
</head>
<body>
	<nav class="navbar navbar-default header-nav">
	    <div class="container">
	      	<a class="navbar-brand" href="{% url 'index'%}">scratchQs</a>
	      	<div class="collapse navbar-collapse" id="navbar">
		      	<ul class="nav navbar-nav navbar-right">
		        	<li><a href="#" data-toggle="modal" data-target="#login-modal">Log In</a></li>
		        	<li><a href="{% url 'signup'%}">Sign Up</a></li>
		      	</ul>
	      	</div>
	    </div>
  	</nav>

	<div class = "login">
		<div name = "login" class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
		    <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
					<form>
					<input type="text" name="user" placeholder="Username">
					<input type="password" name="pass" placeholder="Password">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
					</form>

					<div class="login-help">
					    <a href="{% url 'signup'%}">Register a new account</a>
					</div>
				</div>
			</div>
		</div>
	</div>


  	<div class = "container">
		<div class="sideBar col-sm-3">
			<div class = "myGroups shadowedBox">
				<div class = "displayGroups">
		    		<h2 class = "sideBarTitle"> My Groups</h2>
					<ul class = "groupList">
					{% for community in communities %}
						<a style="cursor: pointer;"><li onClick = "filter_questions(this.id)" id = {{community.id}}>{{community.name}}</li></a>
					{% endfor %}
					<a style="cursor: pointer; font-weight: bold" href="{% url 'index'%}"><li>All communities</li></a>
					</ul>
				</div>
				<div class = "searchGroups">
					<div class="row">
					  	<div class="col-lg-12">
					    	<div class="input-group">
						      	<input type="text" class="form-control" placeholder="Search for new groups">
						      	<span class="input-group-btn">
					        		<button class="btn btn-default" type="button">Go!</button>
					      		</span>
					    	</div><!-- /input-group -->
					  	</div><!-- /.col-lg-12 -->
					</div><!-- /.row -->
				</div>
			</div>

			<div class = "trendingGroups shadowedBox">
				<h2 class = "sideBarTitle"> Trending Groups</h2>
				<ul class = "groupList">
					<li>Dupre Hall</li>
					<li>Mac Hack</li>
					<li>Students for Justice</li>
					
				</ul>
			</div>
		</div>

		<div class="content col-sm-offset-3">
			<div class="searchDiv"> <!-- This will be nice: http://www.w3schools.com/howto/howto_css_animated_search.asp -->
		    	<div class="input-group">
			      	<input id = "search_question" type="text" class="form-control" placeholder="Search for new topics...">
			      	<span class="input-group-btn">
		        		<button class="btn btn-default" type="button" onClick = "search_question()">Search</button>
		      		</span>
		    	</div><!-- /input-group -->
		    	<label>Filter the page by:</label>
				<a href="{% url 'index'%}">Most votes first</a>,
				<a href="#">Most answers first</a>,
				<a href="#">Unanswered questions first</a>
			</div>




			<div class="questions">

				<div class="questionForm question">
					<h4>Ask a new question here</h4>
					<div class="col-lg-8">
				    	<div class="input-group">
					      	<input type="text" class="form-control" placeholder="Title" id = "questionTitle">
					      	<input type="text" class="form-control" placeholder="Description" id = "questionDescription">
					      	<span>
								<div class="btn-group" role="group">
						    		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    			Choose Category
						    		<span class="caret"></span>
						  			</button>
								  	<ul class="dropdown-menu">
								  		{% for community in communities %}
								    	<li><a href="#">{{community.name}}</a></li>
								    	{% endfor %}
								  	</ul>
								</div>
					        	<button class="btn btn-default" type="button" id = "askButton" onclick="submitQuestion()">Ask the question!</button>
				        	</span>
						</div>
					</div>
<!-- 					<input class="searchField" type="text" name="answer" placeholder="Ask a question" id="newQuestionInput">
					<button class="btn btn-primary">Ask</button> -->
				</div>

				<div class="question shadowedBox">
					{% for question in questions %}
					<div class="questionInfo">
							<a style="cursor: pointer;"><h3 class="questionTitle" onClick="nav_to_answer(this.id)" id={{question.id}}>{{question.title}}</h3></a>
							<p class="questionContent">{{question.content}}</p>
					</div>
					<div class="options">

						<button id = {{question.id}} class="btn btn-primary upvote" onClick="upvote_question(this.id)">upvote</button>
						<button id = {{question.id}} class="btn btn-primary downvote" onClick="downvote_question(this.id)">downvote</button>
						<button class = "questionVote"># Votes: {{question.votes}}</button>
					</div>
					{% endfor %}
				</div>


			</div>
		</div>
	</div>
</body>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js "></script>
</html>


<script>

</script>

