<html>
  <body>
    <script>
    
function submitQuestion(){
  var title = $("#questionTitle").val()
  var content = $("#questionDescription").val()
  var category = "CATEGORYSELECTNOTWORKING" //$("#questionCategory").val()
  $.ajax({
    type: "POST",
    url: "../add_question/",
    data: { "title": title,
        "content": content,
        "category": category,
      },
    datatype: "json",
    error: function(){alert('Error: submitQuestion(), QuestionPageajax.html');},
    success: function(response) {
      location.reload()
    }
  });
}

$.ajaxSetup({
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});

function upvote_question(question_id){
  console.log(question_id);
  $.ajax({
    type: "POST",
      url: "/upvote_question",
      data: {"question_id":question_id},
      success: function() {location.reload();},
      dataType: "text"
});
}

function downvote_question(question_id){
  console.log(question_id);
  $.ajax({
    type: "POST",
      url: "/downvote_question",
      data: {"question_id":question_id},
      success: function() {location.reload();},
      dataType: "text"
});
}

    </script>
  </body>
</html>